@font-face {
  font-family: "RoundedElegance";
  src: url() format("truetype"), 
     url(fonts/RoundedEleganceRegular.otf) format("opentype");
}

@font-face {
  font-family: "AvenirRegular";
  src: url(fonts/AvenirRegular.ttf) format("truetype");
  font-weight: Regular;
}

body {
  margin: 0;
  padding: 0;
  background: #0a0a0a;
}

section#careersec{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
}
section#careersec .container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  /* align-items: ; */
  height: auto;
  /* background-color: #f5f5f5; */

}

section#careersec .card {
  background-color: #222831;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

section#careersec .card__name {
  margin-top: 15px;
  font-size: 15px;
  padding: 20px;
}

section#careersec .card__image {
  /* height: 160px; */
  width: 100%;
  /* border-radius: 50%;
  border: 5px solid #272133; 
   margin-top: 20px; 
   box-shadow: 0 10px 50px rgba(235, 25, 110, 1); */
}


section#careersec .draw-border {
  box-shadow: inset 0 0 0 4px #f1f1f1;
  color: #f1f1f1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

section#careersec .draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

section#careersec .draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

section#careersec .draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

section#careersec .draw-border:hover {
  color: #682c80;
}

section#careersec .draw-border:hover::before,
.draw-border:hover::after {
  border-color: #682c80;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

section#careersec .draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

section#careersec .draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

section#careersec .btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
  color: white;
}

section#careersec .btn:focus {
  outline: 2px dotted #fff;
}


section#careersec .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}


/*  Pop on button click */


.popup {
  display: none; /* Initially hide the popup */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a0a0a;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 80%;
  max-width: 600px;
  max-height: 90%; /* Set max height to 80% of viewport */
  overflow-y: auto; /* Enable vertical scrolling */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup h2 {
  font-size: 40px;
  font-weight: 600;
  color: #682c80;
  margin: 15px 0 10px 0;
  text-align: center; /* Center align the heading */
}

.popup h3 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin: 15px 0 10px 0;
}

.popup p {
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
}

.popup ul {
  list-style-type: disc;
  padding-left: 20px;
}

.popup ul li {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 8px;
}

.popup a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #682c80;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.popup a:hover {
  background-color: #501f60;
}



/* Styling buttons & webpage */


